body {
  background-color: skyblue;
}

.navbar {
  font-size: xx-large;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: left;
  background-color: rgb(80, 221, 221);
  padding: 1px;
}

.navlink {
  display: inline;
  padding-right: 24px;
  color: black;
}

a {
  text-decoration: none;
  color: darkblue;
}

.page {
  text-align: center;
  font-size: 30px;
}

#calcButton {
  width: 200px;
  height: 50px;
  color: #ffffff;
  background-color: #000000;
  padding: 50px 80;
  font-size: 30px;
  /* font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif; */
}
